* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
.navbar-one {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.navbar-two {
  display: flex;
  width: 97.2%;
  column-gap: 30px;
  padding: 20px;
  position: relative;
  background-color: #f64141;
}
.navbar-two div:hover {
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
}
.text {
  width: 80px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  font-family: IRANSans, sans-serif, Helvetica;
}
.search {
  width: 700px;
  margin-left: 50px;
}
.search input {
  direction: rtl;
  width: 95%;
  height: 36px;
  padding-top: 2px;
  padding-right: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 7px;
  margin-top: 18px;
  font-size: 20px;
  color: #3f3f3f;
  background-color: #ebeff1;
}
.search button {
  position: absolute;
  left: 15px;
  width: 52px;
  height: 36px;
  border: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 18px;
  margin-left: 150px;
  background: #f64141;
}
.search button:hover {
  cursor: pointer;
}
.identity {
  display: flex;
  flex-direction: row-reverse;
  width: 186px;
  height: 50px;
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 335px;
  text-align: center;
}
.identity:hover {
  cursor: pointer;
}
.log-in {
  position: relative;
  padding: 11px 45px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 900;
  font-family: IRANSans, sans-serif, Helvetica;
  background-color: #e1e1e1;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.log-in:hover {
  background-color: #f64141;
}
.sign-up {
  position: relative;
  width: 100px;
  padding: 11px 30px;
  border-radius: 50px;
  margin-right: -40px;
  font-size: 18px;
  font-weight: 900;
  font-family: IRANSans, sans-serif, Helvetica;
  background-color: #f64141;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.menue {
  margin-top: 20px;
  margin-left: 28px;
}
.menue:hover {
  cursor: pointer;
}
.ul {
  display: flex;
  padding-top: 13px;
  padding-left: 15px;
  column-gap: 45px;
  font-size: 16px;
  font-weight: 900;
  font-family: IRANSans, sans-serif, Helvetica;
  list-style-type: none;
}
.ul:hover {
  cursor: pointer;
}
li:hover {
  color: rgb(255, 255, 255);
}

.dark-mode {
  background-color: black;
}
.Guide p {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2px 10px;
  position: absolute;
  left: 130px;
  display: none;
}
.Guide:hover p {
  display: block;
}
.Cart p {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2px 10px;
  position: absolute;
  left: 65px;
  display: none;
}
.Cart:hover p {
  display: block;
}
.profile p {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2px 10px;
  position: absolute;
  left: 5px;
  display: none;
}
.profile:hover p {
  display: block;
}
.aside {
  width: 5%;
  height: 600px;
  background-color: #f64141;
}
.side {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 120px;
}
.side a {
  margin: 20px 20px;
}
.main {
  display: flex;
}
.to-main {
  margin-left: 45px;
  width: 95%;
  height: 600px;
  display: flex;
}
.box-one {
  margin: 30px;
  width: 400px;
  height: 549px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}
.box-two {
  margin: 30px 30px 30px 0px;
  width: 400px;
  height: 549px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}
.box-three {
  margin: 30px 30px 30px 0px;
  width: 400px;
  height: 549px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}
.small-box-one {
  width: 90%;
  height: 209px;
  border-radius: 10px;
  background-color: rgb(0, 128, 0);
  padding: 40px 20px;
}
.small-box-two {
  width: 90%;
  height: 209px;
  border-radius: 10px;
  background-color: rgb(0, 0, 255);
  padding: 40px 20px;
}
.small-box-three {
  width: 90%;
  height: 210px;
  border-radius: 10px;
  background-color: rgb(255, 165, 0);
  padding: 40px 20px;
}
h1 {
  text-align: center;
}
.money {
  display: flex;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.small-money {
  margin: 5px;
  width: 135px;
  height: 130px;
  border-radius: 10px;
  border: 1px solid rgb(188, 188, 188);
}
.t-one {
  width: 380px;
  border-radius: 20px;
  border: 1px solid rgb(0, 128, 0);
  background-color: rgb(0, 128, 0);
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 30px;
  margin-left: 9px;
}
.t-two {
  width: 380px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 255);
  background-color: rgb(0, 0, 255);
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 30px;
  margin-left: 9px;
}
.t-three {
  width: 380px;
  border-radius: 20px;
  border: 1px solid rgb(255, 165, 0);
  background-color: rgb(255, 165, 0);
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 30px;
  margin-left: 9px;
}
.t-one:hover {
  cursor: pointer;
}
.t-two:hover {
  cursor: pointer;
}
.t-three:hover {
  cursor: pointer;
}
h2 {
  margin: 20px;
  text-align: center;
}
h4 {
  margin: 10px;
  text-align: center;
  color: #f64141;
}
